* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(2, 2, 2);
	color: white;
  }
  
  body {
	font-family: "Poppins", sans-serif;
  }
  
  .navbar {
	display: flex;
	align-items: center;
	padding: 20px;
  }
  
  nav {
	flex: 1;
	text-align: right;
  }
  
  nav ul {
	display: inline-block;
	list-style-type: none;
  }
  
  nav ul li {
	display: inline-block;
	margin-right: 20px;
  }
  
  a {
	text-decoration: none;
	color: #ffffff;
  }
  
  p {
	color: #ffffff;
  }
  
  .container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
  }
  
  .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
  }
  
  .col-2 {
	flex-basis: 50%;
	min-width: 300px;
  }

  .btn {
    display: inline-block;
    background: #000dff;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    }
    
    .btn:hover {
    background: #ff7f3f;
    }
  
  .col-2 img {
	max-width: 100%;
	padding: 50px 0;
  }
  
  .col-2 h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
  }
  
  
  .btn:hover {
	background: #ff7f3f;
  }
  

  
  .header .row {
	margin-top: 70px;
  }
  
  .categories {
	margin: 70px 0;
  }
  
  .col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
  }
  
  .col-3 img {
	width: 100%;
  }
  
  .small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
  }

  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transfrom 0.5s;

  }

  .col-4 img{
    width: 100%;
  }

  .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 100px;
    color: #ffffff;
  }

  .title::after{
    content: "";
    background: #ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
  }

  h4{
    color: #ffffff;
    font-weight: 14px;

  }
  .col-4 p{
    font-size: 14px;
  }
  /* .rating .fas{
     color: #ff523b;;
  }

  .rating .far{
    color: #ff523b;
  } */

.col-4:hover {
  transform: translateY(-5px);
}

/* offer */

.offer {
	margin-top: 80px;
	padding: 30px 0;
  }
  
  .col-2 .offer-img {
	padding: 50px;
  }
  
  small {
	color: #ffffff;
  }


  .title-text{
    text-align: center;
    padding-bottom: 70px;
  }

  #footer{
    padding: 100px 0 20px;
    background:#efefef ;
    position: relative;
 }
 .footer-row{
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .footer-left{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
 }
 .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
 }
 .footer-row h1{
    margin: 10px 0;
 }
 .footer-row p{
    line-height: 35px;
 }
 .footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: #e4eae9;
    margin:10px ;
 }
 .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
 }
 .social-links{
    text-align: center;
 }
 .social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #dbe3e2;
    margin: 40px 5px 0;
    color: #e7ecec ;
    cursor: pointer;
    transition: 1s;

 }
 .social-links .fa:hover{
    background: #d3e0df;
    color: #fff;
    transform: translateY(-7px);
 }
 .social-links .p{
    font-size: 12px;
    margin: 20px;
 }
 /* .menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
 } */
   
  /* media query for menu */
  
  @media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    nav ul li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }

    @media only screen and (max-width: 600px) {
      .row {
        text-align: center;
      }
      .col-2,
      .col-3,
      .col-4 {
        flex-basis: 100%;
      }
      
      .single-product .row {
        text-align: left;
      }
      
      .single-product .col-2 {
        padding: 20px 0;
      }
      .single-product h1 {
        font-size: 26px;
        line-height: 32px;
      }
      .cart-info p {
        display: none;
      }
      }
      